{% extends "layout.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}soagraph{% endblock %}

{% block head %}
  {{ super() }}
  <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
  <style>
  body{
    margin-top: 40px;
  }
  </style>
{% endblock %}

{% block content %}

{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
       {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <body style="background-color:WhiteSmoke;">
  <div class="container">
    <div class="row">
    <div class='col-sm-1'>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#basicExampleModal">
  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
</button>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"><b>Timerange</b></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please type in your measurement preferences.</p>
        {{ wtf.quick_form(date_form) }}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-sm-4">
  </div>
</div>
</div>
</div>

<!-- soagraph -->
<div class="container">
<div class="row">
  <div class="col">
      {% include 'soagraph.html'%}
  </div>
  </div>
  </div>

<!-- links -->
  <center><div class=container>
  <small><p>Graph made with plotly python library.</p>
  <a href="https://github.com/ballardinimarta/flasksoagraph">The GitHub repo for this website</a><br>
  <a href="https://github.com/ballardinimarta/soachart">The GitHub repo for this graph only</a></small>
</div></center>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">

  </script>
{% endblock %}
