{% extends "layout.html"%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>soagraph</title>
  </head>
  <body>
    {% include 'soagraph.html'%}
    {% block content %}
    <center><div class=container>
    <p>links for code</p>
    <a href="https://github.com/ballardinimarta/flasksoagraph">The git hub repo for this website</a><br>
    <a href="https://github.com/ballardinimarta/soachart">The git hub repo for this graph only</a>
  </div></center>
    {% endblock %}
  </body>
</html>
